:root {
    font-family: system-ui;
}

body {
    margin: 0;
    overflow: hidden;
}

#video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
}

button {
    position: fixed;
    inset: 90% 0 0 0;
    margin: auto;
    height: 50px;
    width: 100px;
    background-color: #1e1e1e;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    z-index: 2;
    transition: background-color 0.1s, height 0.1s, width 0.1s ease-in-out;
}

button:hover {
    background-color: #2c2c2c;
}

button:active {
    height: 45px;
    width: 90px;
}

div.menu {
    position: absolute;
    inset: 0 0 0 0;
    background-color: #1e1e1e;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.1s ease-in-out;
}

div.badgeLevel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.badgeLevel img {
    background-color: #2c2c2c;
    border-radius: 100%;
    padding: 25px;
}

#level {
    position: absolute;
    color: #7b7b7b;
    font: 1000 25px/25px system-ui;
}

div.progressBar {
    background-color: #2c2c2c;
    border-radius: 25px;
    padding: 5px 25px;
    margin: 25px 0;
}

#progress {
    color: #d9d9d9;
}

#required {
    color: #7b7b7b;
}

#buttonIcon {
    position: fixed;
    inset: 90% 0 0 0;
    margin: auto;
    z-index: 4;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}